@import './base.css';
@import './utilities.css';
@import 'highlight.js/styles/github.css';

#app {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}
